.user-panel {
  padding: 2rem;
  width: 100%;
  max-width: 600px;
  margin: 2rem auto;
}

.user-panel h2 {
  color: #333;
}

.user-panel ul {
  list-style-type: none;
  padding: 0;
}

.user-panel li {
  background-color: #f9f9f9;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}